.default {
  height: 100vh;
  width: 100vw;
  position: absolute;
  text-align: center;
  background-color: #282c34;
}

.serverStatus {
  margin-top: 30px;
}

.serverStatus-online,
.serverStatus-offline {
  font-size: 32px;
  font-weight: 600;
  display: inline-block;
}

.serverStatus-online {
  color: red
}

.serverStatus-animation {
  position: relative;
  bottom: 8px;
  left: 8px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
  background-color: red;
  animation: opacityPulse 1.3s linear infinite;
}

.serverStatus-offline {
  color: gray;
  text-decoration: line-through;
}

.serverStatus-animation {

}

.header {
  margin-top: 10%;
}

.header,
.headerControls {
  font-size: 42px;
  color: white;
  font-weight: 500;
}

.animationContainer {
  width: 500px;
  height: 500px;
  text-align: center;
  display: inline-block;
}

.headerControls {
  margin-bottom: 30px;
}

.on,
.off {
  display: inline-block;
  padding: 20px 60px;
  margin: 0 20px 0 20px;
  border: 8px solid #1a1a1a;
  border-radius: 24px;
  background-color: #fff;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  color: #1a1a1a;
}

.testSet {
  margin-top: 50px;
}

.input {
  height: 50px;
  width: 200px;
  font-size: 30px;
  vertical-align: middle;
}

.set {
  display: inline-block;
  vertical-align: middle;
  padding: 10px 30px;
  margin: 0 20px 0 20px;
  border: 8px solid #1a1a1a;
  border-radius: 24px;
  background-color: #fff;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  color: #1a1a1a;
  background-color: lightblue;
}

.on {
  background-color: #80ff80;
}

.off {
  background-color: #ff4d4d;
}


@keyframes opacityPulse {
  0% {
    opacity: 1
  }
  50%   {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}
